
<div class="ui grid">

  <div class="one wide column" style="">

  </div>

  <div class="four wide column" style="">
    <div class="" style="">
      <app-search-scope-control></app-search-scope-control>
      <searchbar></searchbar>

      <div class="button-row">
        <button>Share</button> <button>Print</button>
      </div>

      <document-list> </document-list>
    </div>
  </div>

  <div class="six wide column" style="">

      <app-document> </app-document>
    </div>


  <div class="one wide column" style=""></div>


</div>
