


  <div class="" style="float:left; width:300px;">
    <div class="" style="margin-top:40px;">
      <searchbar></searchbar>
      <document-list [documents]="testDocuments"> </document-list>
    </div>
  </div>

  <div class="" style="float:left; width:600px; margin-top:40px;">
    <app-document> </app-document>
  </div>




<!--
<div class="" style="width:1600px;">

  <div class="">
    <div class="" style="width:400px; float:left; margin-top:20px;">

      <searchbar></searchbar>
      <document-list [documents]="testDocuments"> </document-list>

    </div>
  </div>

  <div style="width:900px;">
    <app-document> </app-document>
  </div>

</div>

-->
