
  <div class="" style="float:left; width:300px;">
    <div class="" style="margin-top:40px;">
      <!--
      <app-search-scope-control></app-search-scope-control>
         -->
      <searchbar></searchbar>

      <document-list> </document-list>
    </div>
  </div>

  <div style="float:left; width:300px;margin-top:40px;">
    <div [textPageHeight]>
      <text-pane  [document]="activeDocument"></text-pane>
    </div>
  </div>

  <div style="float:left; width:300px; margin-left:60px;margin-top:-70px;margin-top:40px;">
    <app-document></app-document>
  </div>



