<span class="foo">
     <input type="radio" name="search_scope" id=11 (click)="getValue(1)" value=1 >{{Foo}}
     <input type="radio" name="search_scope"(click)="getValue(1)" id=2 value=1 >{{Bar}}
  </li>
</ul>
<p>Selected Option : <strong>{{selectedOption.name}}</strong></p>
</span>


<!--
 <input type="radio" name="search_scope" [checked]="1 == selectedOption.id" (click)="getValue(1)" value=1 >{{Foo}}
     <input type="radio" name="search_scope" [checked]="1 == selectedOption.id" (click)="getValue(1)" value=1 >{{Bar}}
--:
